@model TravelAgency.ViewModels.UserLoggsViewModel 

@{
    ViewData["Title"] = "UserLogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>User Loggs</h1>


<div class="container">
    @if (Model._userLogs != null && Model._userLogs.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>User ID</th>
                    <th>User Email</th>
                    <th>Activity</th>
                    <th>Activity Time</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var log in Model._userLogs)
                {
                    <tr>
                        <td>@log.Id</td>
                        <td>@log.UserId</td>
                        <td>@log.UserEmail</td>
                        <td>@log.Activity</td>
                        <td>@log.ActivityTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No user logs available.</p>
    }
</div>
